.toolbar-spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

.app-sidenav {
  width: 250px;
  padding: 16px;
}

.content-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

mat-nav-list {
  a {
    display: flex;
    align-items: center;
    gap: 12px;
    
    mat-icon {
      margin-right: 8px;
    }
  }
}

.active {
  background-color: rgba(0, 0, 0, 0.04);
}
